@charset "UTF-8";

/* reseting the default padding and margin presets */
*{
    margin: 0px;
    padding: 0px;
}

/* header */

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    font: bolder 10vw "Verdana", sans-serif; /* vw -> view port width */
    padding: 20px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a{
    text-decoration: none;
    color: white;
}

/* main */

main p{
    font: italic 600 4.5vw "Times New Roman", serif;
    line-height: 2em;
}

section{
    padding: 70px;
}


section#bg1{
    background: black url("imagens/background001.jpg") center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 1px 2px 5px black; /* inset => sombra para dentro */
}

section#bg1 p{
    display: inline-block; /* a caixa se adapta ao conteúdo */
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 5px;
}

section#bg2{
    background: black url("imagens/background002.jpg") center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 1px 1px 5px black;
}

section#bg2 p{
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 5px;
}

/* footer */

footer{
    background-color: black;
    text-align: center;
}

footer p{
    color: white;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
}

