@charset "UTF-8";

table{
    width: 400px;
    height: 300px;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    text-align: center;
}

th.title{
    background-color: gray;
    color: white;
}

td.title{
    background-color: gray;
    color: white;
    font-weight: bold;
}