@charset "UTF-8";

h1{
    height: 300px;
    width: 350px;
    margin: auto; /* centraliza */
    background-color: grey;
    border: 5px solid black;
    border-radius: 10px;
    outline: 10px dashed red;
}

a{
    border: 3px dashed red;
    padding: 3px 7px;
}

h1:hover{
    background-color: aqua;
}
